In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import size
from pyspark.sql.types import *
import pyspark
import pandas as pd
import os
import numpy as np

In [3]:
file_dir = os.getcwd()

In [4]:
spark = SparkSession.builder.master("local").getOrCreate()

In [5]:
# 1st 2010 
data2010_1 = file_dir + "/2010/01052099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2010_1)
csv_df.createOrReplaceTempView("data_1_2010sql")

# 2nd 2010
data2010_2 = file_dir + "/2010/99407099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2010_2)
csv_df.createOrReplaceTempView("data_2_2010sql")

# 1st 2011
data2011_1 = file_dir + "/2011/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2011_1)
csv_df.createOrReplaceTempView("data_1_2011sql")


# 2nd 2011
data2011_2 = file_dir + "/2011/01046099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2011_2)
csv_df.createOrReplaceTempView("data_2_2011sql")

# 1st 2012
data2012_1 = file_dir + "/2012/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2012_1)
csv_df.createOrReplaceTempView("data_1_2012sql")

# 2nd 2012
data2012_2 = file_dir + "/2012/01044099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2012_2)
csv_df.createOrReplaceTempView("data_2_2012sql")

# 1st 2013
data2013_1 = file_dir + "/2013/01001499999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2013_1)
csv_df.createOrReplaceTempView("data_1_2013sql")

# 2nd 2013
data2013_2 = file_dir + "/2013/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2013_2)
csv_df.createOrReplaceTempView("data_2_2013sql")

# 1st 2014
data2014_1 = file_dir + "/2014/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2014_1)
csv_df.createOrReplaceTempView("data_1_2014sql")

# 2nd 2014
data2014_2 = file_dir + "/2014/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2014_2)
csv_df.createOrReplaceTempView("data_2_2014sql")

# 1st 2015
data2015_1 = file_dir + "/2015/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2015_1)
print(csv_df.count())
csv_df.createOrReplaceTempView("data_1_2015sql")

# 2nd 2015
data2015_2 = file_dir + "/2015/01025099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2015_2)
csv_df.createOrReplaceTempView("data_2_2015sql")

# 1st 2016
data2016_1 = file_dir + "/2016/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2016_1)
csv_df.createOrReplaceTempView("data_1_2016sql")

# 2nd 2016
data2016_2 = file_dir + "/2016/01023199999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2016_2)
csv_df.createOrReplaceTempView("data_2_2016sql")

# 1st 2017
data2017_1 = file_dir + "/2017/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2017_1)
csv_df.createOrReplaceTempView("data_1_2017sql")

# 2nd 2017
data2017_2 = file_dir + "/2017/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2017_2)
csv_df.createOrReplaceTempView("data_2_2017sql")

# 1st 2018
data2018_1 = file_dir + "/2018/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2018_1)
csv_df.createOrReplaceTempView("data_1_2018sql")

# 2nd 2018
data2018_2 = file_dir + "/2018/01025099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2018_2)
csv_df.createOrReplaceTempView("data_2_2018sql")

# 1st 2019
data2019_1 = file_dir + "/2019/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2019_1)
csv_df.createOrReplaceTempView("data_1_2019sql")

# 2nd 2019
data2019_2 = file_dir + "/2019/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2019_2)
csv_df.createOrReplaceTempView("data_2_2019sql")

# 1st 2020
data2020_1 = file_dir + "/2020/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2020_1)
csv_df.createOrReplaceTempView("data_1_2020sql")

# 2nd 2020
data2020_2 = file_dir + "/2020/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2020_2)
csv_df.createOrReplaceTempView("data_2_2020sql")

# 1st 2021
data2021_1 = file_dir + "/2021/01062099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2021_1)
csv_df.createOrReplaceTempView("data_1_2021sql")

# 2nd 2021
data2021_2 = file_dir + "/2021/01065099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2021_2)
csv_df.createOrReplaceTempView("data_2_2021sql")

# 1st 2022
data2022_1 = file_dir + "/2022/01241099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2022_1)
csv_df.createOrReplaceTempView("data_1_2022sql")

# 2nd 2022
data2022_2 = file_dir + "/2022/02095099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2022_2)
csv_df.createOrReplaceTempView("data_2_2022sql")

365

In [6]:
# calculates Max temp and puts it into pandas dataframe so it is easier to write on output file
df_sql_1 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2010sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2010sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_2 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2010sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2010sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_3 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2011sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2011sql WHERE MAX < 9999.9 )").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_4 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2011sql WHERE MAX = (SELECT MAX(float(MAX))FROM data_2_2011sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_5 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2012sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2012sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_6 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2012sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2012sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_7 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2013sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2013sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_8 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2013sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2013sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_9 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2014sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2014sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_10 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2014sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2014sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_11 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2015sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2015sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_12 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2015sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2015sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_13 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2016sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2016sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_14 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2016sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2016sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_15 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2017sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2017sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_16 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2017sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2017sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_17 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2018sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2018sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_18 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2018sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2018sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_19 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2019sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2019sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_20 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2019sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2019sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_21 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2020sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2020sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_22 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2020sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2020sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_23 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2021sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2021sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_24 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2021sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2021sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_25 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2022sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_1_2022sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_26 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2022sql WHERE MAX = (SELECT MAX(float(MAX)) FROM data_2_2022sql WHERE MAX < 9999.9)").withColumnRenamed("MAX", "Max Temp").toPandas()

masterDfForMaxTemp = pd.concat([df_sql_1,df_sql_2,df_sql_3,df_sql_4,df_sql_5,df_sql_6,df_sql_7,df_sql_8,df_sql_9,df_sql_10,df_sql_11,df_sql_12,df_sql_13,df_sql_14,df_sql_15,df_sql_16,df_sql_17,df_sql_18,df_sql_19,df_sql_20,df_sql_21,df_sql_22,df_sql_23,df_sql_24,df_sql_25,df_sql_26],  axis=0)
print(masterDfForMaxTemp)

       STATION                       NAME        DATE Max Temp
0  01052099999     HAMMERFEST AIRPORT, NO  2010-06-26     72.9
0  99407099999  DESTRUCTION IS. WA, WA US  2010-08-15     74.8
0  01008099999               LONGYEAR, SV  2011-08-17     62.8
0  01046099999              SORKJOSEN, NO  2011-07-09     87.8
0  01023099999              BARDUFOSS, NO  2012-07-05     72.0
0  01044099999                 HASVIK, NO  2012-07-14     69.8
0  01001499999             SORSTOKKEN, NO  2013-08-02     80.6
0  01008099999               LONGYEAR, SV  2013-07-03     59.0
1  01008099999               LONGYEAR, SV  2013-08-17     59.0
0  01008099999               LONGYEAR, SV  2014-07-08     53.6
1  01008099999               LONGYEAR, SV  2014-08-03     53.6
2  01008099999               LONGYEAR, SV  2014-08-04     53.6
3  01008099999               LONGYEAR, SV  2014-08-22     53.6
0  01023099999              BARDUFOSS, NO  2014-07-10     89.6
0  01008099999               LONGYEAR, SV  2015-07-30     64.4
0  01025099999                 TROMSO, NO  2015-07-30     71.6
0  01008099999               LONGYEAR, SV  2016-07-03     58.1
0  01023199999                DRAUGEN, NO  2016-07-21     77.0
0  01008099999               LONGYEAR, SV  2017-07-17     55.4
0  01023099999              BARDUFOSS, NO  2017-06-09     78.6
0  01008099999               LONGYEAR, SV  2018-08-02     59.2
0  01025099999                 TROMSO, NO  2018-07-29     84.2
0  01008099999               LONGYEAR, SV  2019-07-06     61.0
0  01023099999              BARDUFOSS, NO  2019-07-21     78.8
1  01023099999              BARDUFOSS, NO  2019-07-22     78.8
0  01008099999               LONGYEAR, SV  2020-07-25     71.1
0  01023099999              BARDUFOSS, NO  2020-06-22     79.9
0  01062099999           HOPEN ISLAND, NO  2021-10-05     47.3
0  01065099999               KARASJOK, NO  2021-07-05     88.3
0  01241099999                 ORLAND, NO  2022-06-25     82.4
1  01241099999                 ORLAND, NO  2022-06-26     82.4
2  01241099999                 ORLAND, NO  2022-07-01     82.4
0  02095099999                 PAJALA, SW  2022-07-01     85.5

In [7]:
# calculates Min temp and puts it into pandas dataframe so it is easier to write on output file
df_sql_1_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2010sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2010sql)").withColumnRenamed("MIN", "Min Temp")
df_sql_2_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2010sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2010sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = df_sql_1_min.union(df_sql_2_min)
df_sql_3_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2011sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2011sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_3_min)
df_sql_4_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2011sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2011sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_4_min)
df_sql_5_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2012sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2012sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_5_min)
df_sql_6_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2012sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2012sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_6_min)
df_sql_7_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2013sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2013sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_7_min)
df_sql_8_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2013sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2013sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_8_min)
df_sql_9_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2014sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2014sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_9_min)
df_sql_10_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2014sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2014sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_10_min)
df_sql_11_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2015sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2015sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_11_min)
df_sql_12_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2015sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2015sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_12_min)
df_sql_13_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2016sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2016sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_13_min)
df_sql_14_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2016sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2016sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_14_min)
df_sql_15_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2017sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2017sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_15_min)
df_sql_16_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2017sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2017sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_16_min)
df_sql_17_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2018sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2018sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_17_min)
df_sql_18_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2018sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2018sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_18_min)
df_sql_19_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2019sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2019sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_19_min)
df_sql_20_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2019sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2019sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_20_min)
df_sql_21_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2020sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2020sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_21_min)
df_sql_22_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2020sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2020sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_22_min)
df_sql_23_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2021sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2021sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_23_min)
df_sql_24_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2021sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2021sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_24_min)
df_sql_25_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2022sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2022sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_25_min)
df_sql_26_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2022sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2022sql)").withColumnRenamed("MIN", "Min Temp")
unionDF = unionDF.union(df_sql_26_min)

masterDfForMinTemp = unionDF.toPandas()
print(masterDfForMinTemp)

        STATION                       NAME        DATE Min Temp
0   01052099999     HAMMERFEST AIRPORT, NO  2010-01-29     -1.1
1   99407099999  DESTRUCTION IS. WA, WA US  2010-11-23     25.2
2   01008099999               LONGYEAR, SV  2011-01-30    -23.8
3   01046099999              SORKJOSEN, NO  2011-02-08     -5.8
4   01023099999              BARDUFOSS, NO  2012-02-07    -22.5
5   01044099999                 HASVIK, NO  2012-02-06      3.2
6   01001499999             SORSTOKKEN, NO  2013-03-11     17.6
7   01008099999               LONGYEAR, SV  2013-03-05    -15.2
8   01008099999               LONGYEAR, SV  2014-12-27     -4.7
9   01023099999              BARDUFOSS, NO  2014-01-12    -18.9
10  01008099999               LONGYEAR, SV  2015-02-11    -16.6
11  01025099999                 TROMSO, NO  2015-01-12      6.3
12  01008099999               LONGYEAR, SV  2016-12-08     -0.4
13  01023199999                DRAUGEN, NO  2016-01-08     19.4
14  01008099999               LONGYEAR, SV  2017-03-18    -10.3
15  01023099999              BARDUFOSS, NO  2017-01-05    -28.3
16  01008099999               LONGYEAR, SV  2018-12-27     -5.8
17  01025099999                 TROMSO, NO  2018-03-10      5.7
18  01008099999               LONGYEAR, SV  2019-02-18    -13.0
19  01023099999              BARDUFOSS, NO  2019-01-31    -22.0
20  01023099999              BARDUFOSS, NO  2019-11-11    -22.0
21  01008099999               LONGYEAR, SV  2020-03-11    -22.0
22  01023099999              BARDUFOSS, NO  2020-01-27    -19.3
23  01062099999           HOPEN ISLAND, NO  2021-03-16     -8.9
24  01062099999           HOPEN ISLAND, NO  2021-03-17     -8.9
25  01065099999               KARASJOK, NO  2021-12-05    -32.1
26  01241099999                 ORLAND, NO  2022-02-02     17.2
27  02095099999                 PAJALA, SW  2022-01-08    -28.1

In [8]:
# Maximum and Minimum precipitation (column PRCP ) for the year 2015,  and provide the 
# corresponding station code, station name and the date (columns STATION, NAME, DATE).
# MAX PRCP
df_sql_1_max_prcp = spark.sql("SELECT STATION,NAME,DATE,PRCP FROM data_1_2015sql WHERE PRCP = (SELECT Max(float(PRCP)) FROM data_1_2015sql WHERE PRCP < 99.99)").withColumnRenamed("PRCP", "Max PRCP")
df_sql_2_max_prcp = spark.sql("SELECT STATION,NAME,DATE,PRCP FROM data_2_2015sql WHERE PRCP = (SELECT Max(float(PRCP)) FROM data_2_2015sql WHERE PRCP < 99.99)").withColumnRenamed("PRCP", "Max PRCP")
unionDF = df_sql_1_max_prcp.union(df_sql_2_max_prcp)
masterDfForMaxPRCP = unionDF.toPandas()

# MIN 
df_sql_min_prcp = spark.sql("SELECT STATION,NAME,DATE,PRCP FROM data_1_2015sql WHERE PRCP = (SELECT Min(float(PRCP)) FROM data_1_2015sql)").withColumnRenamed("PRCP", "Min PRCP")
df_sql_min_prcp = spark.sql("SELECT STATION,NAME,DATE,PRCP FROM data_2_2015sql WHERE PRCP = (SELECT Min(float(PRCP)) FROM data_2_2015sql)").withColumnRenamed("PRCP", "Min PRCP")
unionDF = df_sql_min_prcp.unionByName(df_sql_min_prcp)
masterDfForMinPRCP = unionDF.toPandas()

print('MAX PRCP')
print(masterDfForMaxPRCP)
print('MIN PRCP')
print(masterDfForMinPRCP)

MAX PRCP
       STATION          NAME        DATE Max PRCP
0  01008099999  LONGYEAR, SV  2015-12-19     0.72
1  01025099999    TROMSO, NO  2015-11-02     2.11
MIN PRCP
         STATION        NAME        DATE Min PRCP
0    01025099999  TROMSO, NO  2015-01-04     0.00
1    01025099999  TROMSO, NO  2015-01-05     0.00
2    01025099999  TROMSO, NO  2015-01-06     0.00
3    01025099999  TROMSO, NO  2015-01-07     0.00
4    01025099999  TROMSO, NO  2015-01-09     0.00
..           ...         ...         ...      ...
363  01025099999  TROMSO, NO  2015-12-18     0.00
364  01025099999  TROMSO, NO  2015-12-20     0.00
365  01025099999  TROMSO, NO  2015-12-29     0.00
366  01025099999  TROMSO, NO  2015-12-30     0.00
367  01025099999  TROMSO, NO  2015-12-31     0.00

[368 rows x 4 columns]

In [9]:
# Count percentage missing values for wind gust (column GUST) for the year 2019.
df_sql_1_missing_Gust = spark.sql("SELECT GUST FROM data_1_2019sql WHERE float(GUST) > 997.9")
df_sql_2_missing_Gust = spark.sql("SELECT GUST FROM data_2_2019sql WHERE float(GUST) > 997.9")
unionDF = df_sql_1_missing_Gust.union(df_sql_2_missing_Gust)

df_sql_1_all_value = spark.sql("SELECT GUST FROM data_1_2019sql").count()
df_sql_2_all_value = spark.sql("SELECT GUST FROM data_2_2019sql").count()

percentage_first_file_missing_gust = '{0:.4g}'.format((((df_sql_1_missing_Gust).count())/df_sql_1_all_value)*100) 
percentage_second_file_missing_gust = '{0:.4g}'.format(((((df_sql_2_missing_Gust).count())/df_sql_2_all_value)*100))
percentage_total_2019_missing_gust = '{0:.4g}'.format((unionDF.count() / (df_sql_1_all_value+df_sql_2_all_value)) * 100)


print(f'missing wind gust percentage for 2019 file 01008099999.csv: {percentage_first_file_missing_gust} %')
print(f'missing wind gust percentage for 2019 file 01023099999.csv: {percentage_second_file_missing_gust} %')
print(f'missing wind gust percentage for 2019 both file combined: {percentage_total_2019_missing_gust} %')

missing wind gust percentage for 2019 file 01008099999.csv: 83.84 %
missing wind gust percentage for 2019 file 01023099999.csv: 81.92 %
missing wind gust percentage for 2019 both file combined: 82.88 %

In [11]:
# Find the mean, median, mode and standard deviation of the Temperature (column TEMP) for 
# each month for the year 2020.

name_1 = spark.sql("SELECT distinct(NAME) FROM data_1_2020sql").collect()[0][0]
station_1 = spark.sql("SELECT distinct(STATION) FROM data_1_2020sql").collect()[0][0]

nameList = [name_1]*12
stationList = [station_1] *12
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']
Mean = []
Median = []
Mode = []
STDDev = []

for i in range(1, 13):
    df_sql_1_Temp_2020 = spark.sql(f"SELECT DATE,TEMP FROM data_1_2020sql WHERE MONTH(DATE) = {i}")
    pandadf = df_sql_1_Temp_2020.toPandas()
    pandadf = pandadf.astype({'TEMP': 'float'})
    Mean.append('{0:.4g}'.format(pandadf["TEMP"].mean()))
    Median.append('{0:.4g}'.format(pandadf["TEMP"].median()))
    STDDev.append('{0:.4g}'.format(pandadf["TEMP"].std()))
    if(len(pandadf['TEMP'].mode()) == 1):
        Mode.append(str(pandadf['TEMP'].mode()[0]))
    else:
        Mode.append('N/A')


data1 = {'STATION': stationList, 'NAME': nameList, 'Month': months, 'Mean': Mean, 'Median' : Median, 'Mode': Mode, 'STD Dev.':STDDev}
First_dataframe_stat_calc = pd.DataFrame(data=data1)

nameList.clear()
stationList.clear()
Mean.clear()
Median.clear()
Mode.clear()
STDDev.clear()

name_2 = spark.sql("SELECT distinct(NAME) FROM data_2_2020sql").collect()[0][0]
station_2 = spark.sql("SELECT distinct(STATION) FROM data_2_2020sql").collect()[0][0]

nameList = [name_2]*12
stationList = [station_2]*12

for i in range(1, 13):
    df_sql_2_Temp_2020 = spark.sql(f"SELECT DATE,TEMP FROM data_2_2020sql WHERE MONTH(DATE) = {i}")
    pandadf = df_sql_2_Temp_2020.toPandas()
    pandadf = pandadf.astype({'TEMP': 'float'})
    Mean.append('{0:.4g}'.format(pandadf["TEMP"].mean()))
    Median.append('{0:.4g}'.format(pandadf["TEMP"].median()))
    STDDev.append('{0:.4g}'.format(pandadf["TEMP"].std()))
    if(len(pandadf['TEMP'].mode()) == 1):
        Mode.append(str(pandadf['TEMP'].mode()[0]))
    else:
        Mode.append('N/A')

data2 = {'STATION': stationList, 'NAME': nameList, 'Month': months, 'Mean': Mean, 'Median' : Median, 'Mode': Mode, 'STD Dev.':STDDev}
second_dataframe_stat_calc = pd.DataFrame(data=data2)
# TEST AREA
print(First_dataframe_stat_calc)
print(second_dataframe_stat_calc)

        STATION          NAME      Month   Mean Median  Mode STD Dev.
0   01008099999  LONGYEAR, SV    January  8.016    5.7   5.7     9.09
1   01008099999  LONGYEAR, SV   February  4.141    2.8   2.8    9.946
2   01008099999  LONGYEAR, SV      March      3    0.5  18.6    12.17
3   01008099999  LONGYEAR, SV      April  16.01   19.5   N/A    13.72
4   01008099999  LONGYEAR, SV        May  32.29   35.1   N/A    7.743
5   01008099999  LONGYEAR, SV       June  40.26  38.95   N/A    3.712
6   01008099999  LONGYEAR, SV       July  49.61   47.9   N/A    5.733
7   01008099999  LONGYEAR, SV     August  45.11   44.7   N/A    4.455
8   01008099999  LONGYEAR, SV  September  37.93  37.65  31.8    4.276
9   01008099999  LONGYEAR, SV    October  28.05     27   N/A    5.751
10  01008099999  LONGYEAR, SV   November  26.92   27.1   N/A    7.347
11  01008099999  LONGYEAR, SV   December  19.45   19.4   N/A    9.048
        STATION           NAME      Month   Mean Median  Mode STD Dev.
0   01023099999  BARDUFOSS, NO    January  23.78   25.7   N/A    11.07
1   01023099999  BARDUFOSS, NO   February  22.58   22.4  15.5    8.602
2   01023099999  BARDUFOSS, NO      March  26.31   26.1   N/A    8.826
3   01023099999  BARDUFOSS, NO      April  30.65  33.05   N/A    6.759
4   01023099999  BARDUFOSS, NO        May  40.15   37.6  37.0    6.387
5   01023099999  BARDUFOSS, NO       June   54.6  53.75   N/A    6.339
6   01023099999  BARDUFOSS, NO       July  56.16   56.4   N/A    5.939
7   01023099999  BARDUFOSS, NO     August  53.46   54.8   N/A    5.593
8   01023099999  BARDUFOSS, NO  September  45.76   45.1   N/A    4.531
9   01023099999  BARDUFOSS, NO    October     35     36  23.2    11.39
10  01023099999  BARDUFOSS, NO   November  31.57   31.6  31.6    8.351
11  01023099999  BARDUFOSS, NO   December  20.46   21.2   N/A    8.776

In [12]:
# Hotest day table
if os.path.exists("result.txt"):
    os.remove("result.txt")
    with open("result.txt", "a") as file_object:
        file_object.write("1. Find the hottest day (column MAX) for each year, and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE). \n\n")
    masterDfForMaxTemp.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\n2. Find the coldest day (column MIN) for the month of January across all years (2010 - 2022) ,and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE).\n\n")
    masterDfForMinTemp.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\n3. Maximum and Minimum precipitation (column PRCP ) for the year 2015,  and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE).\nMax PRCP\n")
    masterDfForMaxPRCP.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\nMin PRCP\n")
    masterDfForMinPRCP.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\n4. Count percentage missing values for wind gust (column GUST) for the year 2019.\n")
        file_object.write(f"\nmissing wind gust percentage for 2019 file 01008099999.csv: {percentage_first_file_missing_gust} %\n")
        file_object.write(f'missing wind gust percentage for 2019 file 01023099999.csv: {percentage_second_file_missing_gust} %\n')
        file_object.write(f'missing wind gust percentage for 2019 both file combined: {percentage_total_2019_missing_gust} %\n')
    with open("result.txt", "a") as file_object:
        file_object.write("\n5. Find the mean, median, mode and standard deviation of the Temperature (column TEMP) for each month for the year 2020.\n")
        file_object.write("\nData for year 2020 file 01008099999 \n")
        file_object.write("-----------------------------------------------------------\n")
    First_dataframe_stat_calc.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\nData for year 2020 file 01023099999 \n")
        file_object.write("-----------------------------------------------------------\n")
    second_dataframe_stat_calc.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
else:
    with open("result.txt", "a") as file_object:
        file_object.write("1. Find the hottest day (column MAX) for each year, and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE). \n\n")
    masterDfForMaxTemp.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\n2. Find the coldest day (column MIN) for the month of January across all years (2010 - 2022) ,and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE).\n\n")
    masterDfForMinTemp.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\n3. Maximum and Minimum precipitation (column PRCP ) for the year 2015,  and provide the corresponding station code, station name and the date (columns STATION, NAME, DATE).\nMax PRCP\n")
    masterDfForMaxPRCP.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\nMin PRCP\n")
    masterDfForMinPRCP.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\n4. Count percentage missing values for wind gust (column GUST) for the year 2019.\n")
        file_object.write(f"\nmissing wind gust percentage for 2019 file 01008099999.csv: {percentage_first_file_missing_gust} %\n")
        file_object.write(f'missing wind gust percentage for 2019 file 01023099999.csv: {percentage_second_file_missing_gust} %\n')
        file_object.write(f'missing wind gust percentage for 2019 both file combined: {percentage_total_2019_missing_gust} %\n')
    with open("result.txt", "a") as file_object:
        file_object.write("\n5. Find the mean, median, mode and standard deviation of the Temperature (column TEMP) for each month for the year 2020.\n")
        file_object.write("\nData for year 2020 file 01008099999 \n")
        file_object.write("-----------------------------------------------------------\n")
    First_dataframe_stat_calc.to_csv('result.txt', header=True, index=False, sep='|', mode='a')
    with open("result.txt", "a") as file_object:
        file_object.write("\nData for year 2020 file 01023099999 \n")
        file_object.write("-----------------------------------------------------------\n")
    second_dataframe_stat_calc.to_csv('result.txt', header=True, index=False, sep='|', mode='a')