In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import size
from pyspark.sql.types import *
import pyspark



import pandas as pd
import os
import numpy as np

In [ ]:
file_dir = os.getcwd()

In [ ]:
spark = SparkSession.builder.master("local").getOrCreate()

In [ ]:
# 1st 2010 
data2010_1 = file_dir + "/2010/01052099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2010_1)
csv_df.createOrReplaceTempView("data_1_2010sql")

# 2nd 2010
data2010_2 = file_dir + "/2010/99407099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2010_2)
csv_df.createOrReplaceTempView("data_2_2010sql")

# 1st 2011
data2011_1 = file_dir + "/2011/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2011_1)
csv_df.createOrReplaceTempView("data_1_2011sql")


# 2nd 2011
data2011_2 = file_dir + "/2011/01046099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2011_2)
csv_df.createOrReplaceTempView("data_2_2011sql")

# 1st 2012
data2012_1 = file_dir + "/2012/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2012_1)
csv_df.createOrReplaceTempView("data_1_2012sql")

# 2nd 2012
data2012_2 = file_dir + "/2012/01044099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2012_2)
csv_df.createOrReplaceTempView("data_2_2012sql")

# 1st 2013
data2013_1 = file_dir + "/2013/01001499999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2013_1)
csv_df.createOrReplaceTempView("data_1_2013sql")

# 2nd 2013
data2013_2 = file_dir + "/2013/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2013_2)
csv_df.createOrReplaceTempView("data_2_2013sql")

# 1st 2014
data2014_1 = file_dir + "/2014/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2014_1)
csv_df.createOrReplaceTempView("data_1_2014sql")

# 2nd 2014
data2014_2 = file_dir + "/2014/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2014_2)
csv_df.createOrReplaceTempView("data_2_2014sql")

# 1st 2015
data2015_1 = file_dir + "/2015/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2015_1)
csv_df.createOrReplaceTempView("data_1_2015sql")

# 2nd 2015
data2015_2 = file_dir + "/2015/01025099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2015_2)
csv_df.createOrReplaceTempView("data_2_2015sql")

# 1st 2016
data2016_1 = file_dir + "/2016/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2016_1)
csv_df.createOrReplaceTempView("data_1_2016sql")

# 2nd 2016
data2016_2 = file_dir + "/2016/01023199999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2016_2)
csv_df.createOrReplaceTempView("data_2_2016sql")

# 1st 2017
data2017_1 = file_dir + "/2017/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2017_1)
csv_df.createOrReplaceTempView("data_1_2017sql")

# 2nd 2017
data2017_2 = file_dir + "/2017/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2017_2)
csv_df.createOrReplaceTempView("data_2_2017sql")

# 1st 2018
data2018_1 = file_dir + "/2018/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2018_1)
csv_df.createOrReplaceTempView("data_1_2018sql")

# 2nd 2018
data2018_2 = file_dir + "/2018/01025099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2018_2)
csv_df.createOrReplaceTempView("data_2_2018sql")

# 1st 2019
data2019_1 = file_dir + "/2019/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2019_1)
csv_df.createOrReplaceTempView("data_1_2019sql")

# 2nd 2019
data2019_2 = file_dir + "/2019/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2019_2)
csv_df.createOrReplaceTempView("data_2_2019sql")

# 1st 2020
data2020_1 = file_dir + "/2020/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2020_1)
csv_df.createOrReplaceTempView("data_1_2020sql")

# 2nd 2020
data2020_2 = file_dir + "/2020/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2020_2)
csv_df.createOrReplaceTempView("data_2_2020sql")

# 1st 2021
data2021_1 = file_dir + "/2021/01062099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2021_1)
csv_df.createOrReplaceTempView("data_1_2021sql")

# 2nd 2021
data2021_2 = file_dir + "/2021/01065099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2021_2)
csv_df.createOrReplaceTempView("data_2_2021sql")

# 1st 2022
data2022_1 = file_dir + "/2022/01241099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2022_1)
csv_df.createOrReplaceTempView("data_1_2022sql")

# 2nd 2022
data2022_2 = file_dir + "/2022/02095099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2022_2)
csv_df.createOrReplaceTempView("data_2_2022sql")

In [ ]:
# calculates Max temp and puts it into pandas dataframe so it is easier to write on output file
df_sql_1 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2010sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2010sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_2 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2010sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2010sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_3 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2011sql WHERE MAX = (SELECT max(MAX) FROM data_1_2011sql where Max > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_4 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2011sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2011sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_5 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2012sql WHERE MAX = (SELECT max(MAX) FROM data_1_2012sql where Max > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_6 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2012sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2012sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_7 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2013sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2013sql where Max < 998)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_8 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2013sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2013sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_9 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2014sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2014sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_10 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2014sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2014sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_11 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2015sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2015sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_12 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2015sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2015sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_13 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2016sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2016sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_14 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2016sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2016sql where Max < 998)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_15 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2017sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2017sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_16 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2017sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2017sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_17 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2018sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2018sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_18 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2018sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2018sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_19 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2019sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2019sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_20 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2019sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2019sql where Max > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_21 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2020sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2020sql where Max > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_22 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2020sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2020sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_23 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2021sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2021sql)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_24 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2021sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2021sql WHERE MAX > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_25 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2022sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2022sql WHERE MAX > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()
df_sql_26 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2022sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2022sql WHERE MAX > 0)").withColumnRenamed("MAX", "Max Temp").toPandas()

masterDfForMaxTemp = pd.concat([df_sql_1,df_sql_2,df_sql_3,df_sql_4,df_sql_5,df_sql_6,df_sql_7,df_sql_8,df_sql_9,df_sql_10,df_sql_11,df_sql_12,df_sql_13,df_sql_14,df_sql_15,df_sql_16,df_sql_17,df_sql_18,df_sql_19,df_sql_20,df_sql_21,df_sql_22,df_sql_23,df_sql_24,df_sql_25,df_sql_26],  axis=0)

In [16]:
# calculates Min temp and puts it into pandas dataframe so it is easier to write on output file
df_sql_1_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2010sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2010sql)")
df_sql_2_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2010sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2010sql)")
unionDF = df_sql_1_min.union(df_sql_2_min)
df_sql_3_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2011sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2011sql)")
unionDF = unionDF.union(df_sql_3_min)
df_sql_4_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2011sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2011sql)")
unionDF = unionDF.union(df_sql_4_min)
df_sql_5_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2012sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2012sql)")
unionDF = unionDF.union(df_sql_5_min)
df_sql_6_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2012sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2012sql)")
unionDF = unionDF.union(df_sql_6_min)
df_sql_7_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2013sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2013sql)")
unionDF = unionDF.union(df_sql_7_min)
df_sql_8_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2013sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2013sql)")
unionDF = unionDF.union(df_sql_8_min)
df_sql_9_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2014sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2014sql)")
unionDF = unionDF.union(df_sql_9_min)
df_sql_10_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2014sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2014sql)")
unionDF = unionDF.union(df_sql_10_min)
df_sql_11_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2015sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2015sql)")
unionDF = unionDF.union(df_sql_11_min)
df_sql_12_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2015sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2015sql)")
unionDF = unionDF.union(df_sql_12_min)
df_sql_13_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2016sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2016sql)")
unionDF = unionDF.union(df_sql_13_min)
df_sql_14_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2016sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2016sql)")
unionDF = unionDF.union(df_sql_14_min)
df_sql_15_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2017sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2017sql)")
unionDF = unionDF.union(df_sql_15_min)
df_sql_16_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2017sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2017sql)")
unionDF = unionDF.union(df_sql_16_min)
df_sql_17_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2018sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2018sql)")
unionDF = unionDF.union(df_sql_17_min)
df_sql_18_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2018sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2018sql)")
unionDF = unionDF.union(df_sql_18_min)
df_sql_19_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2019sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2019sql)")
unionDF = unionDF.union(df_sql_19_min)
df_sql_20_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2019sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2019sql)")
unionDF = unionDF.union(df_sql_20_min)
df_sql_21_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2020sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2020sql)")
unionDF = unionDF.union(df_sql_21_min)
df_sql_22_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2020sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2020sql)")
unionDF = unionDF.union(df_sql_22_min)
df_sql_23_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2021sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2021sql)")
unionDF = unionDF.union(df_sql_23_min)
df_sql_24_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2021sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2021sql)")
unionDF = unionDF.union(df_sql_24_min)
df_sql_25_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_1_2022sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_1_2022sql)")
unionDF = unionDF.union(df_sql_25_min)
df_sql_26_min = spark.sql("SELECT STATION,NAME,DATE,MIN FROM data_2_2022sql WHERE MIN = (SELECT Min(float(MIN)) FROM data_2_2022sql)")
unionDF = unionDF.union(df_sql_26_min)
unionDF.show(30)
#masterDfForMinTemp = pd.concat([df_sql_1_min,df_sql_2_min,df_sql_3_min,df_sql_4_min],  axis=0)
#print(masterDfForMinTemp)

+-----------+--------------------+----------+------+
|    STATION|                NAME|      DATE|   MIN|
+-----------+--------------------+----------+------+
|01052099999|HAMMERFEST AIRPOR...|2010-01-29|  -1.1|
|99407099999|DESTRUCTION IS. W...|2010-11-23|  25.2|
|01008099999|        LONGYEAR, SV|2011-01-30| -23.8|
|01046099999|       SORKJOSEN, NO|2011-02-08|  -5.8|
|01023099999|       BARDUFOSS, NO|2012-02-07| -22.5|
|01044099999|          HASVIK, NO|2012-02-06|   3.2|
|01001499999|      SORSTOKKEN, NO|2013-03-11|  17.6|
|01008099999|        LONGYEAR, SV|2013-03-05| -15.2|
|01008099999|        LONGYEAR, SV|2014-12-27|  -4.7|
|01023099999|       BARDUFOSS, NO|2014-01-12| -18.9|
|01008099999|        LONGYEAR, SV|2015-02-11| -16.6|
|01025099999|          TROMSO, NO|2015-01-12|   6.3|
|01008099999|        LONGYEAR, SV|2016-12-08|  -0.4|
|01023199999|         DRAUGEN, NO|2016-01-08|  19.4|
|01008099999|        LONGYEAR, SV|2017-03-18| -10.3|
|01023099999|       BARDUFOSS, NO|2017-01-05| -28.3|
|01008099999|        LONGYEAR, SV|2018-12-27|  -5.8|
|01025099999|          TROMSO, NO|2018-03-10|   5.7|
|01008099999|        LONGYEAR, SV|2019-02-18| -13.0|
|01023099999|       BARDUFOSS, NO|2019-01-31| -22.0|
|01023099999|       BARDUFOSS, NO|2019-11-11| -22.0|
|01008099999|        LONGYEAR, SV|2020-03-11| -22.0|
|01023099999|       BARDUFOSS, NO|2020-01-27| -19.3|
|01062099999|    HOPEN ISLAND, NO|2021-03-16|  -8.9|
|01062099999|    HOPEN ISLAND, NO|2021-03-17|  -8.9|
|01065099999|        KARASJOK, NO|2021-12-05| -32.1|
|01241099999|          ORLAND, NO|2022-02-02|  17.2|
|02095099999|          PAJALA, SW|2022-01-08| -28.1|
+-----------+--------------------+----------+------+

In [ ]:
# Maximum and Minimum precipitation (column PRCP ) for the year 2015,  and provide the 
# corresponding station code, station name and the date (columns STATION, NAME, DATE).

In [ ]:
# Hotest day table
if os.path.exists("output.txt"):
    os.remove("output.txt")
    masterDfForMaxTemp.to_csv('output.txt', header=True, index=False, sep='|', mode='a')
    with open("output.txt", "a") as file_object:
    # Append 'hello' at the end of file
        file_object.write("\n")
    df_sql_1_min.to_csv('output.txt', header=True, index=False, sep='|', mode='a')
else:
    masterDfForMaxTemp.to_csv('output.txt', header=True, index=False, sep='|', mode='a')
    with open("output.txt", "a") as file_object:
    # Append 'hello' at the end of file
        file_object.write("\n")
    df_sql_1_min.to_csv('output.txt', header=True, index=False, sep='|', mode='a')