In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import size
from pyspark.sql.types import *
import pyspark


import pandas as pd
import os
import numpy as np

In [2]:
file_dir = os.getcwd()

In [3]:
spark = SparkSession.builder.master("local").getOrCreate()

In [170]:
# 1st 2010 
data2010_1 = file_dir + "/2010/01052099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2010_1)
csv_df.createOrReplaceTempView("data_1_2010sql")

# 2nd 2010
data2010_2 = file_dir + "/2010/99407099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2010_2)
csv_df.createOrReplaceTempView("data_2_2010sql")

# 1st 2011
data2011_1 = file_dir + "/2011/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2011_1)
csv_df.createOrReplaceTempView("data_1_2011sql")


# 2nd 2011
data2011_2 = file_dir + "/2011/01046099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2011_2)
csv_df.createOrReplaceTempView("data_2_2011sql")

# 1st 2012
data2012_1 = file_dir + "/2012/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2012_1)
csv_df.createOrReplaceTempView("data_1_2012sql")

# 2nd 2012
data2012_2 = file_dir + "/2012/01044099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2012_2)
csv_df.createOrReplaceTempView("data_2_2012sql")

# 1st 2013
data2013_1 = file_dir + "/2013/01001499999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2013_1)
csv_df.createOrReplaceTempView("data_1_2013sql")

# 2nd 2013
data2013_2 = file_dir + "/2013/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2013_2)
csv_df.createOrReplaceTempView("data_2_2013sql")

# 1st 2014
data2014_1 = file_dir + "/2014/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2014_1)
csv_df.createOrReplaceTempView("data_1_2014sql")

# 2nd 2014
data2014_2 = file_dir + "/2014/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2014_2)
csv_df.createOrReplaceTempView("data_2_2014sql")

# 1st 2015
data2015_1 = file_dir + "/2015/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2015_1)
csv_df.createOrReplaceTempView("data_1_2015sql")

# 2nd 2015
data2015_2 = file_dir + "/2015/01025099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2015_2)
csv_df.createOrReplaceTempView("data_2_2015sql")

# 1st 2016
data2016_1 = file_dir + "/2016/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2016_1)
csv_df.createOrReplaceTempView("data_1_2016sql")

# 2nd 2016
data2016_2 = file_dir + "/2016/01023199999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2016_2)
csv_df.createOrReplaceTempView("data_2_2016sql")

# 1st 2017
data2017_1 = file_dir + "/2017/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2017_1)
csv_df.createOrReplaceTempView("data_1_2017sql")

# 2nd 2017
data2017_2 = file_dir + "/2017/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2017_2)
csv_df.createOrReplaceTempView("data_2_2017sql")

# 1st 2018
data2018_1 = file_dir + "/2018/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2018_1)
csv_df.createOrReplaceTempView("data_1_2018sql")

# 2nd 2018
data2018_2 = file_dir + "/2018/01025099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2018_2)
csv_df.createOrReplaceTempView("data_2_2018sql")

# 1st 2019
data2019_1 = file_dir + "/2019/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2019_1)
csv_df.createOrReplaceTempView("data_1_2019sql")

# 2nd 2019
data2019_2 = file_dir + "/2019/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2019_2)
csv_df.createOrReplaceTempView("data_2_2019sql")

# 1st 2020
data2020_1 = file_dir + "/2020/01008099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2020_1)
csv_df.createOrReplaceTempView("data_1_2020sql")

# 2nd 2020
data2020_2 = file_dir + "/2020/01023099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2020_2)
csv_df.createOrReplaceTempView("data_2_2020sql")

# 1st 2021
data2021_1 = file_dir + "/2021/01062099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2021_1)
csv_df.createOrReplaceTempView("data_1_2021sql")

# 2nd 2021
data2021_2 = file_dir + "/2021/01065099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2021_2)
csv_df.createOrReplaceTempView("data_2_2021sql")

# 1st 2022
data2022_1 = file_dir + "/2022/01241099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2022_1)
csv_df.createOrReplaceTempView("data_1_2022sql")

# 2nd 2022
data2022_2 = file_dir + "/2022/02095099999.csv"
csv_df = spark.read.option("header", "true").option("delimiter",",").csv(data2022_2)
csv_df.createOrReplaceTempView("data_2_2022sql")

In [172]:
df_sql_7 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2022sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2022sql WHERE MAX > 0)").toPandas()
print(df_sql_7)

       STATION        NAME        DATE     MAX
0  02095099999  PAJALA, SW  2022-07-01    85.5

In [174]:
df_sql_1 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2010sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2010sql)").toPandas()
df_sql_2 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2010sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2010sql)").toPandas()
df_sql_3 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2011sql WHERE MAX = (SELECT max(MAX) FROM data_1_2011sql where Max > 0)").toPandas()
df_sql_4 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2011sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2011sql)").toPandas()
df_sql_5 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2012sql WHERE MAX = (SELECT max(MAX) FROM data_1_2012sql where Max > 0)").toPandas()
df_sql_6 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2012sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2012sql)").toPandas()
df_sql_7 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2013sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2013sql where Max < 998)").toPandas()
df_sql_8 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2013sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2013sql)").toPandas()
df_sql_9 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2014sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2014sql)").toPandas()
df_sql_10 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2014sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2014sql)").toPandas()
df_sql_11 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2015sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2015sql)").toPandas()
df_sql_12 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2015sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2015sql)").toPandas()
df_sql_13 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2016sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2016sql)").toPandas()
df_sql_14 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2016sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2016sql where Max < 998)").toPandas()
df_sql_15 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2017sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2017sql)").toPandas()
df_sql_16 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2017sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2017sql)").toPandas()
df_sql_17 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2018sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2018sql)").toPandas()
df_sql_18 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2018sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2018sql)").toPandas()
df_sql_19 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2019sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2019sql)").toPandas()
df_sql_20 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2019sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2019sql where Max > 0)").toPandas()
df_sql_21 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2020sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2020sql where Max > 0)").toPandas()
df_sql_22 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2020sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2020sql)").toPandas()
df_sql_23 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2021sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2021sql)").toPandas()
df_sql_24 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2021sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2021sql WHERE MAX > 0)").toPandas()
df_sql_25 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_1_2022sql WHERE MAX = (SELECT MAX(MAX) FROM data_1_2022sql WHERE MAX > 0)").toPandas()
df_sql_26 = spark.sql("SELECT STATION,NAME,DATE,MAX FROM data_2_2022sql WHERE MAX = (SELECT MAX(MAX) FROM data_2_2022sql WHERE MAX > 0)").toPandas()

masterDfForMaxTemp = pd.concat([df_sql_1,df_sql_2,df_sql_3,df_sql_4,df_sql_5,df_sql_6,df_sql_7,df_sql_8,df_sql_9,df_sql_10,df_sql_11,df_sql_12,df_sql_13,df_sql_14,df_sql_15,df_sql_16,df_sql_17,df_sql_18,df_sql_19,df_sql_20,df_sql_21,df_sql_22,df_sql_23,df_sql_24,df_sql_25,df_sql_26],  axis=0)

In [175]:
print(masterDfForMaxTemp)

       STATION                       NAME        DATE     MAX
0  01052099999     HAMMERFEST AIRPORT, NO  2010-06-26    72.9
0  99407099999  DESTRUCTION IS. WA, WA US  2010-08-15    74.8
0  01008099999               LONGYEAR, SV  2011-08-17    62.8
0  01046099999              SORKJOSEN, NO  2011-07-09    87.8
0  01023099999              BARDUFOSS, NO  2012-07-05    72.0
0  01044099999                 HASVIK, NO  2012-07-14    69.8
0  01001499999             SORSTOKKEN, NO  2013-08-02    80.6
0  01008099999               LONGYEAR, SV  2013-07-03    59.0
1  01008099999               LONGYEAR, SV  2013-08-17    59.0
0  01008099999               LONGYEAR, SV  2014-07-08    53.6
1  01008099999               LONGYEAR, SV  2014-08-03    53.6
2  01008099999               LONGYEAR, SV  2014-08-04    53.6
3  01008099999               LONGYEAR, SV  2014-08-22    53.6
0  01023099999              BARDUFOSS, NO  2014-07-10    89.6
0  01008099999               LONGYEAR, SV  2015-07-30    64.4
0  01025099999                 TROMSO, NO  2015-07-30    71.6
0  01008099999               LONGYEAR, SV  2016-07-03    58.1
0  01023199999                DRAUGEN, NO  2016-07-21    77.0
0  01008099999               LONGYEAR, SV  2017-07-17    55.4
0  01023099999              BARDUFOSS, NO  2017-06-09    78.6
0  01008099999               LONGYEAR, SV  2018-08-02    59.2
0  01025099999                 TROMSO, NO  2018-07-29    84.2
0  01008099999               LONGYEAR, SV  2019-07-06    61.0
0  01023099999              BARDUFOSS, NO  2019-07-21    78.8
1  01023099999              BARDUFOSS, NO  2019-07-22    78.8
0  01008099999               LONGYEAR, SV  2020-07-25    71.1
0  01023099999              BARDUFOSS, NO  2020-06-22    79.9
0  01062099999           HOPEN ISLAND, NO  2021-10-05    47.3
0  01065099999               KARASJOK, NO  2021-07-05    88.3
0  01241099999                 ORLAND, NO  2022-06-25    82.4
1  01241099999                 ORLAND, NO  2022-06-26    82.4
2  01241099999                 ORLAND, NO  2022-07-01    82.4
0  02095099999                 PAJALA, SW  2022-07-01    85.5

In [176]:
# Hotest day table
if os.path.exists("output.txt"):
    os.remove("output.txt")
    masterDfForMaxTemp.to_csv('output.txt', header=True, index=False, sep=',', mode='a')
else:
    masterDfForMaxTemp.to_csv('output.txt', header=True, index=False, sep=',', mode='a')